<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="localadv" connectionString="Server=JBRDB01;Database=JBR_Internal;Trusted_Connection=True;" />
  </connectionStrings>
  <appSettings>
    <add key="ExcelFilePath" value="Amortisation.xlsx"/>
    <add key="ExcelFilePassword" value="hendon01"/>

    <add key="SMTPServer" value="smtp.office365.com"/>
    <add key="SMTPPort" value="587"/>
    <add key="SMTPUser" value="salessupport@jbrcapital.com"/>
    <add key="SMTPPassword" value=",sN#qd,&amp;sK;S)2WY"/>
    
    <add key="SMTPTo" value="Jack.OLeary-Blade@jbrcapital.com, dani.ressel@jbrcapital.com, Priya.Shaganti@jbrcapital.com"/>
    <add key="SMTPToName" value="Jack O'Leary-Blade, Dani Ressel, Priya Shaganti"/>
    
    <add key="SMTPSender" value="salessupport@jbrcapital.com"/>
    <add key="SMTPSenderName" value="Sales Support - Automated"/>
    <add key="SMTPSubject" value="Ammortisation and Anomalies file"/>
    <add key="SMTPBody" value="Please find attached this months information."/>
  </appSettings>
</configuration>