<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MaxNumberOfLettersAllowedToSendByClicksend" value="50"/>
    
    <add key="TemplateFile" value="C:\JBR\Apps\Clicksend\Files\Templates\JBR_ID_Confirmation_Letter.docx"/>
    <add key="DocxOutputFolder" value="C:\JBR\Apps\Clicksend\Files\DocxOutputs\"/>
    <add key="PdfOutputFolder" value="C:\JBR\Apps\Clicksend\Files\Outputs\"/>

    <add key="SecurityToken" value=""/>
    <add key="ConsumerKey" value=""/>
    <add key="ConsumerSecret" value=""/>
    <add key="Username" value=""/>
    <add key="Password" value=""/>

    <add key="SecurityToken_test" value=""/>
    <add key="ConsumerKey_test" value=""/>
    <add key="ConsumerSecret_test" value=""/>
    <add key="Username_test" value=""/>
    <add key="Password_test" value=""/>

  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>