/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [AgreementNumber]
      ,[AgreementCustomerNumber]
      ,[AgreementCreator]
      ,[AgreementAmendor]
      ,[AgreementBorrowers]
      ,[AgreementGuarantors]
      ,[AgreementDefaultCode]
      ,[AgreementInfoLinkOveride]
      ,[AgreementStatusOveride]
      ,[AgreementSpecialInstruction]
      ,[AgreementNameAddressChange]
      ,[AgreementCAISFlagSetting]
      ,[AgreementInvoiceNumber]
      ,[AgreementNextNumber]
      ,[AgreementAnalysisCode]
      ,[AgreementBranch]
      ,[AgreementAssessOfficer]
      ,[AgreementRetailOutlet]
      ,[AgreementAuthority]
      ,[AgreementMiscellaneous]
      ,[AgreementSalesSource]
      ,[AgreementSalesmanNumber]
      ,[AgreementDealerNumber]
      ,[AgreementPersonNumber]
      ,[AgreementBankAccountName]
      ,[AgreementBankSortCode]
      ,[AgreementBankAccountNumber]
      ,[AgreementBankReference]
      ,[AgreementBankAccountType]
      ,[AgreementBankTransCode]
      ,[AgreementStatus]
      ,[AgreementIntroducer]
      ,[AgreementAutoStatus]
      ,[AgreementArrearsStatus]
      ,[AgreementNumberOld]
      ,[AgreementSICCode]
      ,[AgreementSICCodeDesc]
      ,[AgreementIntrRateID]
      ,[AgreementExternalReferenceNo]
      ,[AgreementExternalReferenceNo2]
      ,[AgreementExternalReferenceNo3]
      ,[AgreementDepotNumber]
      ,[AgreementPurpose]
      ,[AgreementBadDebtStatus]
      ,[AgreementDataCashMerchantRef]
      ,[AgreementPrincipal]
      ,[AgreementOriginalPrincipal]
      ,[AgreementCharges]
      ,[AgreementTotalCostsPrincipal]
      ,[AgreementTotalCostsInterest]
      ,[AgreementDepositCash]
      ,[AgreementDepositPartEx]
      ,[AgreementDealerCommission]
      ,[AgreementDealerCommissionVat]
      ,[AgreementDealerCommissionInsr]
      ,[AgreementAPR]
      ,[AgreementExtraInterest]
      ,[AgreementTotalRebates]
      ,[AgreementTotalWOffPrincipal]
      ,[AgreementTotalWOffInterest]
      ,[AgreementExtraPrincipal]
      ,[AgreementOriginalInterest]
      ,[AgreementTotalPrincipalPaid]
      ,[AgreementTotalInterestPaid]
      ,[AgreementTotalPrincipalPaidTM]
      ,[AgreementTotalInterestPaidTM]
      ,[AgreementArrearsNETPrincipal]
      ,[AgreementArrearsNETInterest]
      ,[AgreementTotalArrearsNET]
      ,[AgreementTotalArrearsNETFee]
      ,[AgreementTotalArrearsVatFee]
      ,[AgreementResidualNET]
      ,[AgreementInstalmentNET]
      ,[AgreementCurrentBalanceNET]
      ,[AgreementAdvanceInstalmentNET]
      ,[AgreementInputVat]
      ,[AgreementOutputVat]
      ,[AgreementResidualVat]
      ,[AgreementAdvanceInstalmentVat]
      ,[AgreementArrearsVat]
      ,[AgreementTotalPaidVat]
      ,[AgreementInstalmentVat]
      ,[AgreementTAXDeductable]
      ,[AgreementTAXPercentage]
      ,[AgreementArrearsTAX]
      ,[AgreementDebitInterest]
      ,[AgreementExtraIntrPaid]
      ,[AgreementTotalCostsPaid]
      ,[AgreementTotalCharges]
      ,[AgreementTotalIns]
      ,[AgreementTotalFees]
      ,[AgreementArrearsTotalINS]
      ,[AgreementInstalmentINS]
      ,[AgreementCurrentBalanceINS]
      ,[AgreementDebitIntrUpLift]
      ,[AgreementDefaultBalance]
      ,[AgreementExpArrangement]
      ,[AgreementCapitalAllowance]
      ,[AgreementTotalPrincipal]
      ,[AgreementAdditionalIRRFee]
      ,[AgreementCreditLimit]
      ,[AgreementInsuranceAPR]
      ,[AgreementIntrOnlyMnths]
      ,[AgreementLowerCharges]
      ,[AgreementGoodsDiscountRate]
      ,[AgreementBasePrincipal]
      ,[AgreementInvoiceDiscountRate]
      ,[AgreementEarlyDDPayment]
      ,[AgreementFHBR]
      ,[AgreementBrokerFee]
      ,[AgreementIntrRateValue]
      ,[AgreementSubsidy]
      ,[AgreementNetYield]
      ,[AgreementGrossYield]
      ,[AgreementAccruedInterest]
      ,[AgreementSubsidy2]
      ,[AgreementBrokerCommission]
      ,[AgreementBrokerCommissionVat]
      ,[AgreementSalesmanCommission]
      ,[AgreementAPRFee]
      ,[AgreementBadDebtProvision]
      ,[AgreementAPRNet]
      ,[AgreementBadDebtPercentage]
      ,[AgreementRefixAddAmount]
      ,[AgreementAgreementDate]
      ,[AgreementFirstPaymentDate]
      ,[AgreementUpfrontDate]
      ,[AgreementResidualDate]
      ,[AgreementStatementDate]
      ,[AgreementCreateDate]
      ,[AgreementAmendDate]
      ,[AgreementSettledDate]
      ,[AgreementLastDueDate]
      ,[AgreementNextDueDate]
      ,[AgreementIntrStartDate]
      ,[AgreementDefaultDate]
      ,[AgreementNumberChangeExperianDate]
      ,[AgreementNumberChangeEquifaxDate]
      ,[AgreementEarlyDDDate]
      ,[AgreementIntrRateDateSet]
      ,[AgreementIntrRateRefixDate]
      ,[AgreementExperianClosedDate]
      ,[AgreementIntrOnlyStartDate]
      ,[AgreementNextStatementDate]
      ,[AgreementDiscountDate1]
      ,[AgreementDiscountDate2]
      ,[AgreementFrozenDate]
      ,[AgreementBadDebtDate]
      ,[AgreementPaymentMethod]
      ,[AgreementNumPayments]
      ,[AgreementUpfrontPayments]
      ,[AgreementPaymentFrequency]
      ,[AgreementPenaltyIntrDueDay]
      ,[AgreementPenaltyInterestCode]
      ,[AgreementAgreementTypeID]
      ,[AgreementCollectionType]
      ,[AgreementRegulated]
      ,[AgreementFinanceCompanyCode]
      ,[AgreementDebitInterestCode]
      ,[AgreementHPIStatus]
      ,[AgreementDueDay]
      ,[AgreementArrearsLetter]
      ,[AgreementGenericPersonType]
      ,[AgreementExperianHPIStatus]
      ,[AgreementIncomeAssessment]
      ,[AgreementSectionOfMonth]
      ,[AgreementDayOfWeek]
      ,[AgreementAutoCollDeposit]
      ,[AgreementDiscountRate]
      ,[AgreementCurrentStatus]
      ,[AgreementProposalID]
      ,[AgreementSettledFlag]
      ,[AgreementSeasonalPayments]
      ,[AgreementArrearsFrozen]
      ,[AgreementLetterPrinted]
      ,[AgreementPosted]
      ,[AgreementIgnoreLetter]
      ,[AgreementUseRecurringIns]
      ,[AgreementPayoutComplete]
      ,[AgreementIntrRateLocked]
      ,[AgreementAutoCPDone]
      ,[AgreementExperianClosed]
      ,[AgreementAutoCollectIntrOnly]
      ,[AgreementExported]
      ,[AgreementManualIntervention]
      ,[AgreementMonthlyInvoice]
      ,[AgreementExportExclude]
      ,[AgreementUpfrontAutoCollected]
      ,[AgreementStopPenaltyIntr]
      ,[AgreementNoInvoice]
      ,[AgreementDlrAnnualFeeIgnored]
      ,[AgreementRefixPayLock]
      ,[AgreementPayAdvanceIO]
      ,[AgreementRegularPayment]
      ,[AgreementCCD]
      ,[AgreementBadDebtPosted]
      ,[AgreementMemorandum]
      ,[AgreementPrevNumber]
      ,[AgreementArrearsHistory]
      ,[AgreementSeasonalMonths]
      ,[AgreementEIR]
      ,[AgreementPersonCommission]
      ,[AgreementPersonCommissionVat]
      ,[AgreementSalesmanCommissionVat]
      ,[AgreementWarningFlag]
      ,[AgreementPayoutTranTypeID]
      ,[AgreementWarningText]
      ,[AgreementTransMatchReference]
      ,[AgreementFunderID]
      ,[AgreementPreviousFunderID]
      ,[AgreementCapitalisedComm]
      ,[AgreementFunderChangeReason]
      ,[AgreementSettlementReason]
      ,[AgreementProfitLoss]
      ,[AgreementUseProfitLoss]
      ,[AgreementACPDefaultCustomer]
      ,[AgreementNoRefund]
      ,[AgreementDisableCCP]
      ,[AgreementBankIBAN]
      ,[AgreementPenIntrMaxDays]
      ,[AgreementFundingSource]
      ,[AgreementExternalReferenceNo4]
      ,[AgreementExternalReferenceNo5]
      ,[AgreementAccruedInterestTD]
      ,[AgreementDaysInArrears]
      ,[AgreementP2PFeeCommMargin]
      ,[AgreementNPVRateUplift]
      ,[AgreementWorkingDays]
      ,[AgreementICBSubmitDate]
      ,[AgreementACQUISProductCode]
      ,[AgreementLetterPrintedUser]
      ,[AgreementPayoutDeferredDate]
      ,[AgreementBankBIC]
      ,[AgreementGaugeScore]
      ,[AgreementSettlementSubReason]
      ,[AgreementProductTierID]
      ,[AgreementExpectedInstalment]
      ,[AgreementCPAConsentRevoked]
      ,[AgreementStopAccrualIntr]
      ,[AgreementHierarchyRate]
      ,[AgreementUnutilisedCreditRate]
      ,[AgreementRefixAddNPer]
      ,[AgreementContractEndDate],
	  (AgreementPrincipal - AgreementTotalPrincipalPaid) PrincipleOutstanding,
	  AgreementCharges - AgreementTotalInterestPaid ChargesOutstanding,
	  AgreementTotalFees - (SELECT sum([PayProNetAmount])  FROM [JBR_S3DB01].[dbo].[PaymentProfileTable] where [PayProAgreementNumber] = 'A00274' and PayProDate < GETDATE() and PayProType = 'Fee') FeesOutstanding,
	  AgreementCurrentBalanceNet TotalBalanceOutstanding,
	  AgreementPrincipal + AgreementDepositCash + AgreementDepositPartEx + AgreementCharges + AgreementTotalFees TotalAmountPayable,
	  Payments.*
  FROM [JBR_S3DB01].[dbo].[AgreementTable]
  LEFT JOIN (SELECT Top 1 [PayProAgreementNumber]
      ,[PayProDate]
      ,[PayProNetAmount]
      ,[PayProPrincipal]
      ,[PayProInterest]
      ,[PayProType]
      ,[PayProFeeOrInsID]
      ,[PayProInvoiceStatus]
      ,[PayProFallenDue]
      ,[PayProSalesFlag]
      ,[PayProReloanID]
      ,[PayProIntrRate]
      ,[PayProID]
      ,[PayProAccLink]
      ,[PayProVatRate]
      ,[PayProInvoiceNumber]
      ,[PayProNonCollection]
      ,[PayProACPCollection]
      ,[PayProDatePaid]
      ,[PayProPrincipalPaid]
      ,[PayProInterestPaid]
  FROM [JBR_S3DB01].[dbo].[PaymentProfileTable]
  WHERE [PayProAgreementNumber] = 'A00274' and PayProType ='Pay' and PayProDate >= GETDATE()
  ORDER BY PayProDate) Payments ON Payments.PayProAgreementNumber = AgreementNumber
  --WHERE AgreementAmendDate > DATEADD(DAY,-1, convert(date, GETDATE()))
  --where AgreementProposalID = 1687
  where AgreementNumber = 'A00274'

/*
AgreementPrincipal + AgreementDepositCash + AgreementDepositPartEx -- Total cash price
AgreementInstalmentNET --  Net instalment
Payments.PayProDate --  Next payment due date
AgreementResidualNET --  Residual value

--  Original
	AgreementCharges   -- o Charges
	AgreementTotalFees -- o Total Fees
	AgreementPrinciple + AgreementCharges + AgreementTotalFees -- o Balance payable
	AgreementPrincipal + AgreementDepositCash + AgreementDepositPartEx + AgreementCharges + AgreementTotalFees -- o Total payable

-- Outstanding
	AgreementPrinciple - AgreementTotalPrincipalPaid -- o Principal out
	AgreementCharges - AgreementTotalInterestPaid -- o Charges out
	AgreementTotalFees - (SELECT sum([PayProNetAmount])  FROM [JBR_S3DB01].[dbo].[PaymentProfileTable] where [PayProAgreementNumber] = 'A00274' and PayProDate < GETDATE() and PayProType = 'Fee') FeesOutstanding -- o Fees out
	AgreementCurrentBalanceNet -- o Total balance

-- Arrears
	AgreementTotalArrearsNET - o Amount
	--o Date was due -- CANT FIND THIS INFO
	--o Number of days overdue (calculated field) --CANT FIND THIS INFO

 Payment schedule (multiple records)
	o Instalment value
	o Amount of principal
	o Amount of interest
	o Amount of fees
	o Date due / paid

SELECT CONVERT(date,PayProDate),
	  SUM(PayProNetAmount) InstalmentValue,
      SUM(PayProPrincipal) Principle,
	  SUM(IIF ( PayProType = 'Pay' , PayProInterest, 0 )) Interest,
	  SUM(IIF ( PayProType = 'Fee' , PayProNetAmount, 0 )) Fee,
      SUM(IIF ( PayProType = 'Vfe' , PayProNetAmount, 0 )) VATonFee,
	  CAST(MAX(CAST(PayProFallenDue as INT)) AS BIT) PayFallenDue
  FROM [JBR_S3DB01].[dbo].[PaymentProfileTable]
  where PayProAgreementNumber = 'A00274' /*and PayProType ='Pay'*/ --and PayProDate >= GETDATE()
  Group by PayProDate


*/