<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MaxNumberOfLettersAllowedToSendByClicksend" value="50"/>
    
    <add key="TemplateFile" value="C:\JBR\Apps\Clicksend\Files\Templates\JBR_ID_Confirmation_Letter.docx"/>
    <add key="DocxOutputFolder" value="C:\JBR\Apps\Clicksend\Files\DocxOutputs\"/>
    <add key="PdfOutputFolder" value="C:\JBR\Apps\Clicksend\Files\Outputs\"/>

    <add key="SecurityToken" value="qhBy7EDQiL4OCxFquQ4NxmCeJ"/>
    <add key="ConsumerKey" value="3MVG98_Psg5cppyZfJEApW7U2G8IR1psuxMGd1x6X40F7PXJfAh29vCXBJRvXf4rjdif.EqgKq5q.lCN5koSQ"/>
    <add key="ConsumerSecret" value="4775424908946684934"/>
    <add key="Username" value="scheiner.david@gmail.com.jbr"/>
    <add key="Password" value="PReset**991"/>

    <add key="SecurityToken_test" value="fojpIpdRZk9kIiJKGaYRPqkSX"/>
    <add key="ConsumerKey_test" value="3MVG92H4TjwUcLlLvIMWkOuic3VGZKIMuu_rq3QYHmBoPBEomPE0KPtbJYkWiBECaHpxPM58X_HbcttFnN.Qk"/>
    <add key="ConsumerSecret_test" value="8782298419356568039"/>
    <add key="Username_test" value="scheiner.david@gmail.com.jbrdev"/>
    <add key="Password_test" value="ThisAndThat1234"/>

  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>