<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
  <appSettings>

    <add key="SMTPServer" value="smtp.office365.com"/>
    <add key="SMTPPort" value="587"/>
    <add key="SMTPUser" value="salessupport@jbrcapital.com"/>
    <add key="SMTPPassword" value=",sN#qd,&amp;sK;S)2WY"/>

    <add key="SMTPSender" value="salessupport@jbrcapital.com"/>
    <add key="SMTPSenderName" value="Sales Support - Automated"/>

    <add key="SMTPTo" value="jack.oleary-blade@jbrcapital.com, dani.ressel@jbrcapital.com, priya.shaganti@jbrcapital.com,ramki.ravi@consleague.com"/>
    <add key="SMTPToName" value="Jack O'Leary-Blade, Dani Ressel, Priya Shaganti,Ramki Ravi"/>

    <add key="SMTPSubject" value="Anchor Download Log"/>
    <add key="SMTPBody" value=""/>
    
    <add key="zipFolder" value="F:\JBRData\zip"/>
    <add key="workingFolder" value="F:\JBRData\working"/>
    
    <add key="backupFolder" value="F:\JBRData\working\backup"/>
    <add key="backupLogFolder" value="F:\JBRData\working\backup_logs"/>
    
    <add key="ftpUser" value="jbr"/>
    <add key="ftpAddress" value="fileshare.anchor.co.uk"/>
    <add key="ftpPassword" value="KKKnhkU3387Yye6"/>

    <add key="Sqb2mtfPassword" value="Xoh8iep8ETheimaiZ4Sh"/>

    <add key="SQLServerName" value="JBRDB01"/>

  </appSettings>
</configuration>
