<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SecurityToken" value="qhBy7EDQiL4OCxFquQ4NxmCeJ" />
    <add key="ConsumerKey" value="3MVG98_Psg5cppyZfJEApW7U2G8IR1psuxMGd1x6X40F7PXJfAh29vCXBJRvXf4rjdif.EqgKq5q.lCN5koSQ" />
    <add key="ConsumerSecret" value="4775424908946684934" />
    <add key="Username" value="scheiner.david@gmail.com.jbr" />
    <add key="Password" value="PReset**991" />
    
    <add key="SecurityToken_" value="" />
    <add key="ConsumerKey_" value="" />
    <add key="ConsumerSecret_" value="" />
    <add key="Username_" value="" />
    <add key="Password_" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="DatabaseConnectionString" value="Server=STEPHAM1;Database=JBR_Internal;Trusted_Connection=True;" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>