<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>

   <add key="clicksendUserName" value="JBR" />
   <add key="clicksendPassword" value="Hazard10" />

   <add key="ZipFolder" value="C:\JBR\Apps\AnnualStatements\Files\" />

   <add key="PdfOutputFolder" value="C:\JBR\Apps\AnnualStatements\Files\Outputs\" />

  <add key="TemplateFolder" value="C:\JBR\Apps\AnnualStatements\Files\Templates\" />
  <add key="UnregulatedTemplateFile" value="JBR_UnregulatedAgreementNew.docx" />
  <add key="RegulatedTemplateWithScheduleFile" value="JBR_RegulatedAgreementNewWithScheduleOfPayment.docx" />
  <add key="RegulatedTemplateWithoutScheduleFile" value="JBR_RegulatedAgreementNew.docx" />
  <add key="RegulatedTemplateFinalWithoutScheduleFile" value="JBR_RegulatedAgreementNewFinal.docx" />
    
  <add key="OutputFile" value="Annual Statement" />

  <add key="SMTPServer" value="smtp.office365.com" />
  <add key="SMTPPort" value="587" />
  <add key="SMTPUser" value="salessupport@jbrcapital.com" />
  <add key="SMTPPassword" value=",sN#qd,&amp;sK;S)2WY" />

  <add key="SMTPSender" value="salessupport@jbrcapital.com" />
  <add key="SMTPSenderName" value="Sales Support - Automated" />

  <add key="SMTPTo" value="SalesSupport@jbrcapital.com, Jacobo.Bentata@jbrcapital.com" />
  <add key="SMTPToName" value="SalesSupport,Jacobo Bentatar" />

  <add key="SMTPSubject" value="This months Annual and Final Statements posted by ClickSend" />
  <add key="SMTPBody" value="Dear Sales Support,    Please save the attachment to the Annual Statement folder for your records.   Kind regards,   JBR Capital" />

  <add key="SMTPLogTo" value="SalesSupport@jbrcapital.com, Jacobo.Bentata@jbrcapital.com, Priya.Shaganti@jbrcapital.com"/>
  <add key="SMTPLogToName" value="SalesSupport,Jacobo Bentata,Priya Shaganti"/>
    
  </appSettings>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>
