<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <add key="SMTPServer" value="smtp.office365.com" />
    <add key="SMTPPort" value="587" />
    <add key="SMTPUser" value="salessupport@jbrcapital.com" />
    <add key="SMTPPassword" value=",sN#qd,&amp;sK;S)2WY" />

    <add key="SMTPSender" value="salessupport@jbrcapital.com" />
    <add key="SMTPSenderName" value="Sales Support - Automated" />

    <add key="SMTPTo" value="jack.oleary-blade@jbrcapital.com, dani.ressel@jbrcapital.com,priya.shaganti@jbrcapital.com,ramki.ravi@consleague.com" />
    <add key="SMTPToName" value="Jack O'Leary-Blade, Dani Ressel, Priya Shaganti,Ramki Ravi" />
    <add key="SMTPSubject" value="Overnight Update Log" />
    <add key="SMTPBody" value="" />

    <add key="SMTPErrorTo" value="jack.oleary-blade@jbrcapital.com, dani.ressel@jbrcapital.com, Jacobo.Bentata@jbrcapital.com,priya.shaganti@jbrcapital.com,ramki.ravi@consleague.com" />
    <add key="SMTPErrorToName" value="Jack O'Leary-Blade, Dani Ressel, Jacobo Bentata, Priya Shaganti,Ramki Ravi" />
    <add key="SMTPErrorSubject" value="ERROR - Overnight Update Log" />

    <add key="Domain" value="https://login.salesforce.com" />
    <add key="SecurityToken" value="7YpUPlSWqHbu32IwPzyWcWwWF" />
    <add key="ConsumerKey" value="3MVG98_Psg5cppyZfJEApW7U2G8IR1psuxMGd1x6X40F7PXJfAh29vCXBJRvXf4rjdif.EqgKq5q.lCN5koSQ" />
    <add key="ConsumerSecret" value="4775424908946684934" />
	<add key="Username" value="salesforce.admin@jbrcapital.com" />
	<add key="Password" value="JBRadm!nE5" />

    <add key="Domain_" value="https://test.salesforce.com" />
    <add key="SecurityToken_" value="bb3apFAU5P4LQy1fYa2WSs56M" />
    <add key="ConsumerKey_" value="3MVG9UP4ApgjJiu.1lyfhtrUjoOyNFYrZdxSOPojiuay5FAkvvTLHdbSM7abGNBIPAuxNcMF_S.gq9EmgJBYK" />
    <add key="ConsumerSecret_" value="3B413ED5F58A7380213FF6C2B718C99F07329B67A52958483B08F810891D10B4" />
    <add key="Username_" value="salesforce.admin@jbrcapital.com.test" />
    <add key="Password_" value="JBRadm!nE5" />
    
    <add key="SQLConnectionString" value="Server=JBRDB01;Database=JBR_Internal;Trusted_Connection=True;" />
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
