<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <add key="clicksendUserName" value="JBR" />
    <add key="clicksendPassword" value="Hazard10" />
    
    <add key="MaxNumberOfLettersAllowedToSendByClicksend" value="50" />

    <add key="TemplateFile" value="C:\JBR\Apps\AntiFraudLetter\Files\Templates\JBR_ID_Confirmation_Letter.docx" />
    <add key="PdfOutputFolder" value="C:\JBR\Apps\AntiFraudLetter\Files\Outputs\" />

    <add key="Domain" value="https://login.salesforce.com" />
    <add key="SecurityToken" value="7YpUPlSWqHbu32IwPzyWcWwWF" />
    <add key="ConsumerKey" value="3MVG98_Psg5cppyZfJEApW7U2G8IR1psuxMGd1x6X40F7PXJfAh29vCXBJRvXf4rjdif.EqgKq5q.lCN5koSQ" />
    <add key="ConsumerSecret" value="4775424908946684934" />
	<add key="Username" value="salesforce.admin@jbrcapital.com" />
	<add key="Password" value="JBRadm!nE5" />

  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
