<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <connectionStrings>
    <add name="ApiContext" connectionString="Server=DEDICAT-0J2R68U;Database=JBR_Internal;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
    <!--<add name="ApiContext" connectionString="Server=localhost;Database=JBR_Internal;Trusted_Connection=True;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="connectionString" value="Server=localhost;Database=JBR_Internal;Trusted_Connection=True"/>
    <add key="CompanyName" value="JBR CR"/>
    <add key="Username" value="JBR CR QS API LIVE"/>
    <add key="SQLServerDatabase" value="JBR_Internal"/>
    <add key="Table" value="CallCreditInfo"/>
    <add key="PasswordField" value="Password"/>
    <add key="passwordLastChangeDateField" value="passwordLastChangeDate"/>
    <add key="Password" value="08a566e1"/>
    <add key="DaysBeforeCleaningUp" value="5"/>
  </appSettings>
</configuration>
