<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="localadv" connectionString="Server=JBRDB01;Database=JBR_Internal;Trusted_Connection=True;" />
  </connectionStrings>
  <appSettings>
    <add key="ExcelFilePath" value="PaymentRevisedHolidayPayProfile.xlsx"/>
    <add key="ExcelFilePassword" value="hendon01"/>

    <add key="SMTPServer" value="smtp.office365.com"/>
    <add key="SMTPPort" value="587"/>
    <add key="SMTPUser" value="salessupport@jbrcapital.com"/>
    <add key="SMTPPassword" value=",sN#qd,&amp;sK;S)2WY"/>

    <add key="SMTPSender" value="salessupport@jbrcapital.com"/>
    <add key="SMTPSenderName" value="Sales Support - Automated"/>
    
    <add key="SMTPTo" value="priya.shaganti@jbrcapital.com, Dalia.Steiner@jbrcapital.com,Cyrus.Fateh@jbrcapital.com, Jack.OLeary-Blade@jbrcapital.com, Hanna.Nuh@jbrcapital.com, Adam.Goldberg@jbrcapital.com, Furkan.Kubilay@jbrcapital.com, Daniela.Meyers@jbrcapital.com, Dani.Ressel@jbrcapital.com, Cheryl.Law@jbrcapital.com, Chris.price@jbrcapital.com"/>
    <add key="SMTPToName" value="Priya Shaganti, Dalia Steiner, Cyrus Fateh, Jack O'Leary-Blade, Hanna Nuh, Adam Goldberg, Furkan Kubilay, Daniela Meyers, Dani Ressel, Cheryl Law, Chris Price"/>

    
    <add key="SMTPSubject" value="Pay Profile - Payment Holiday - file"/>
    <add key="SMTPBody" value="Please find attached todays Payment Holiday, Up to Date Pay Profile"/>
  </appSettings>
</configuration>